#!/usr/bin/env bash

export HISTTIMEFORMAT="%h %d %H:%M:%S "
shopt -s histappend
PROMPT_COMMAND='history -a'

# Env vars
export EDITOR=joe

# lazy add local bin
#LOCAL_BIN="$HOME/.local/bin"
#if [ -d $LOCAL_BIN ]; then
#  export PATH="$PATH:$LOCAL_BIN"
#fi


# node-js settings
#
# Enable persistent REPL history for `node`.
#export NODE_REPL_HISTORY="~/.node_history"
# Allow 32³ entries; the default is 1000.
#export NODE_REPL_HISTORY_SIZE="32768"
# Use sloppy mode by default, matching web browsers.
#export NODE_REPL_MODE="sloppy"

# python settings
#
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
#export PYTHONIOENCODING="UTF-8"

export PATH="$HOME/.local/bin:$PATH"
#export CHEAT_PATH='/path/to/my/cheats'
export CHEAT_COLORS=true
export CHEAT_COLORSCHEME=dark
export CHEAT_HIGHLIGHT=blue