#!/usr/bin/env bash

export HISTTIMEFORMAT="%h %d %H:%M:%S "
shopt -s histappend
PROMPT_COMMAND='history -a'

# Env vars
export EDITOR=joe

# detect your os
case "$OSTYPE" in
    solaris*) SYSTEM_TYPE="SOLARIS" ;;
    darwin*)  SYSTEM_TYPE="OSX" ;;
    linux*)   SYSTEM_TYPE="LINUX" ;;
    bsd*)     SYSTEM_TYPE="BSD" ;;
    msys*)    SYSTEM_TYPE="MINGW" ;;
    cygwin*)  SYSTEM_TYPE="CYGWIN" ;;
esac

if [[ "$(uname)" == "Darwin" ]]; then
    SYSTEM_TYPE="OSX"
    elif [[ "$(expr substr $(uname -s) 1 5)" == "Linux" ]]; then
    SYSTEM_TYPE="LINUX"
    elif [[ "$(expr substr $(uname -s) 1 7)" == "FreeBSD" ]]; then
    SYSTEM_TYPE="FREE_BSD"
    elif [[ "$(expr substr $(uname -s) 1 6)" == "NetBSD" ]]; then
    SYSTEM_TYPE="NET_BSD"
    elif [[ "$(expr substr $(uname -s) 1 7)" == "OpenBSD" ]]; then
    SYSTEM_TYPE="OPEN_BSD"
    elif [[ "$(expr substr $(uname -s) 1 7)" == "MSYS_NT" ]]; then
    SYSTEM_TYPE="MINGW"
    elif [[ "$(expr substr $(uname -s) 1 10)" == "MINGW32_NT" ]]; then
    SYSTEM_TYPE="MINGW"
    elif [[ "$(expr substr $(uname -s) 1 10)" == "MINGW64_NT" ]]; then
    SYSTEM_TYPE="MINGW"
    elif [[ "$(expr substr $(uname -s) 1 9)" == "CYGWIN_NT" ]]; then
    SYSTEM_TYPE="CYGWIN"
fi

if [[ -n "$(cat /proc/version | grep '(Microsoft@Microsoft.com)')" ]]; then
    SYSTEM_TYPE="Win10_Linux"
fi

export SYSTEM_TYPE


# lazy add local bin
#LOCAL_BIN="$HOME/.local/bin"
#if [ -d $LOCAL_BIN ]; then
#  export PATH="$PATH:$LOCAL_BIN"
#fi


# node-js settings
#
# Enable persistent REPL history for `node`.
#export NODE_REPL_HISTORY="~/.node_history"
# Allow 32³ entries; the default is 1000.
#export NODE_REPL_HISTORY_SIZE="32768"
# Use sloppy mode by default, matching web browsers.
#export NODE_REPL_MODE="sloppy"

# python settings
#
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
#export PYTHONIOENCODING="UTF-8"