# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Stefan Knaak
	email = stefan@knaak.org
	signingkey = 27EADC96482407F7
[core]
	editor = joe
[push]
	default = simple
